{% extends "app/home.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Mission</h1>
        <p class="lead">We promote and support the research, development and use of Python software in DC, Maryland & Virginia by organizing and hosting frequent educational events to foster and facilitate academic research, development and learning as well as professional growth and networking. Some of these events and services include but are not limited to:</p>
        <ul>
            <li>
                Weekly training sessions for all levels of Python programming skill.
            </li>
            <li>
                Monthly presentations on a variety of technical topics related to Python programming.
            </li>
            <li>
                Monthly gatherings to exchange information about Python programming in an informal environment.
            </li>
            <li>
                Mailing list and job board to facilitate technical and professional collaboration and exchange.
            </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>Board</h1>
        <ul>
            <li><strong><a href="http://about.me/alex.clark">Alex Clark</a></strong>, President & Executive Director</li>
            <li><strong>Amy Clark</strong>, Secretary & Treasurer</li>
        </ul>
        <p class="lead">We are currently recruiting for the position of <strong>Vice President</strong>. If you are interested in serving the board and community in this capacity or other please email <a href="mailto:board@dcpython.org">board@dcpython.org</a>.</p>
    </div>
  </div>
</div>
{% endblock %}

