<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>DCPython {{ object.name }} Slides</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reveal.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/theme/default.css" id="theme">
    </head>
    <body>
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>DCPython {{ object.name }}</h1>
                <p> generously hosted by <bold> {{ object.venue.name }} </bold> </p>
            </section>
            <section>
                <p> small blurb about DCPython? </p>
            </section>
            {% for talk in talks %}
            <section>
                <h1>Talks</h1>
                <h2>{{ talk.title }}</h2>
                <p> {{ talk.description }}</p>
            </section>
            {% endfor %}
        </div>
    </div>
        <script src="{{ STATIC_URL }}js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                //theme: "lood"
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

            });

        </script>

    </body>

</html>
