{% extends "app/home.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Mission</h1>
        <p class="lead">We promote and support the use of Python software in DC, via educational events:</p>
        <ul>
            <li>
                <p class="lead">Weekly training sessions for all levels of Python programming skill.</p>
            </li>
            <li>
                <p class="lead">Monthly presentations on a variety of technical topics related to Python programming.</p>
            </li>
            <li>
                <p class="lead">Monthly gatherings to exchange information about Python programming in an informal environment.</p>
            </li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}
